    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Page d'authentification</title>

        <style>
            fieldset {
                background-color: beige;
                width: 800px;
                border: 15px solid seagreen;
                padding: 50px;
                margin: 20px;
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <fieldset>


            <h1>Bienvenue</h1>
            <label for="Email">Adresse e-mail </label>
            <br />
            <input type="text" id="Email">
            <br>
            <br>
            <label for="Mot de passe">Mot de passe </label>
            <br />
            <input type="text" id="Mot de passe">
            <br />
            <br />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check2" name="Rester connecté" value="something">
                <label class="form-check-label">Rester connecté?</label>
            </div>
            <br />
            <br />
            <a href="#" class="btn btn-success">Mot de passe oublié?</a>
            <br />
            <br />
            <input type="submit" value="Se connecter" />
            <br />
            <br />
            <label for="Première fois sur MACSynergie?">Première fois sur MACSynergie?</label>
            <a href="IncriptionChoice.html" class="btn btn-success">Inscrivez-vous!</a>
     
        </fieldset>

    </body>

    </html>