.dashboard-container {
    background-color: white;
    padding: 45px 30px;
}

.row-content {
    background-color: rgb(248, 248, 248);
    padding: 45px 30px;
    margin-bottom: 20px
}

.border-MACS {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: seagreen;
}

/* Sidebar */



.sidebar {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 300px;
    z-index: 600;
    padding: 20px 15px;
}

.nav-link {
    color: black;
}

.nav-item a:hover{
    color: seagreen;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgb(248, 248, 248);
}

.nav-pills .pill-1 .nav-link {
    background-color: seagreen;
}

.btn:hover{
    background-color: seagreen
}