body {
    overflow-x: hidden;
}

.row-content {
    background-color: white;
    padding: 45px 30px;
    margin-bottom: 20px
}

fieldset {
    background-color: white;
    width: 1000px;
    border: 4px solid seagreen;
    padding: 50px;
    margin: 20px;
    text-align: justify;
    color: gray;
}

.creation-title {
    font-size: 26px;
    text-align: left;
    color:rgb(173, 209, 42);
}

.hyperlink {
    color: seagreen;
    font-size: 18px;
    font-weight: bold;
}

    .hyperlink:hover {
        color: rgb(33, 99, 62);
        font-size: 18px;
        font-weight: bold;
    }

.hyperlink2 {
    color: seagreen;
    font-size: 16px;
    font-weight: 400;
}

    .hyperlink2:hover {
        color: rgb(33, 99, 62);
        font-size: 16px;
        font-weight: 400;
    }



