@{
    Layout = "_LayoutDuSite2";

}
<link rel="stylesheet" type="text/css" href="~/css/Login.css">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mot de passe oublié</title>

</head>

<body>

    <fieldset>

        <header class="switch">
            <h2>Réinitialisation du mot de passe</h2>
            <i class="icon icon-angle-down"></i>
        </header>

        <div class=" shutter-content">
            <form class="ff" action method="post" accept-charset="utf-8"
                  data-dashlane-rid="174bd12e75b2083c" data-form-type="forgot password"></form>

                <p class=" info-text">
                    Vous avez oublié votre mot de passe ?
                    Saisissez votre adresse e-mail et nous vous
                    enverrons un email pour le réinitialiser.
                </p>

            <div class="form-group">
                <input type="text"
                       name="email"
                       placeholder="Adresse e-mail"                   
                       data-form-type="email">
                <label for="email">
                <i class="icon icon-envelope">
                    </i>
                    </label>
            </div>
        </div>
        <br/>
        <input type="submit" name="submit" value="Réinitialiser mon mot de passe"
               class="submit" data-dashlane-rid="e167a7584ca20eac"
               data-form-type="action,forgot_password" />       

        <p class="alternatives">
            <a href="/Account/LoginPage/"
                <i class="icon icon-chevron-left">
                    Revenir à la page de connexion
                </i>
            </a>
        </p>

    </fieldset>

</body>
</html>