@{
    Layout = "_LayoutDuSite";

}
<link rel="stylesheet" type="text/css" href="~/css/Login.css">


<title>Mot de passe oublié</title>

@section Menu
{
    <div class="col-md-8 d-flex justify-content-around">
        <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
        <a class="nav-link" id="nav-elements" href="/Project/ProjectPage"><strong>DECOUVRIR UN PROJET</strong></a>
        <a class="nav-link" id="nav-elements" href="#"><strong>LANCER UN PROJET</strong></a>
    </div>
    <div class="col-md-2 d-flex justify-content-end align-items-center">
        <a id="bouton-log" href="/Account/LoginPage">SE CONNECTER</a>
    </div>
}


<fieldset>

    <header class="switch">
        <h2>Réinitialisation du mot de passe</h2>
        <i class="icon icon-angle-down"></i>
    </header>

    <div class=" shutter-content">
        <form class="ff" action method="post" accept-charset="utf-8"
              data-dashlane-rid="174bd12e75b2083c" data-form-type="forgot password"></form>

        <p class=" info-text">
            Vous avez oublié votre mot de passe ?
            Saisissez votre adresse e-mail et nous vous
            enverrons un email pour le réinitialiser.
        </p>

        <div class="form-group">
            <input type="text"
                   name="email"
                   placeholder="Adresse e-mail"
                   data-form-type="email">
            <label for="email">
                <i class="icon icon-envelope">
                </i>
            </label>
        </div>
    </div>
    <br />
    <input type="submit" name="submit" value="Réinitialiser mon mot de passe"
           class="submit" data-dashlane-rid="e167a7584ca20eac"
           data-form-type="action,forgot_password" />

</fieldset>


@section Footer {}
