@{
    Layout = "_LayoutDuSite";

}
<link rel="stylesheet" type="text/css" href="~/css/Login.css">
<link rel="stylesheet" type="text/css" href="~/css/Home.css">


<title>Mot de passe oublié</title>

@section Menu
{
    @if (Model.Authentify)
    {
        if (Model.Account.Role == "participant")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/Participant/PDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else if (Model.Account.Role == "po")
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/ProjectOwner/PODashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
        else // role == "admin"
        {
            <div class="col-md-8 d-flex justify-content-around">
                <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
                <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
                <a class="nav-link" id="nav-elements" href="/Admin/AdminDashboard"><strong>MON COMPTE</strong></a>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center">
                <a id="bouton-log" href="/Account/Deconnexion">SE DECONNECTER</a>
            </div>
        }
    }
    else
    {
        <div class="col-md-8 d-flex justify-content-around">
            <a class="nav-link" id="nav-elements" href="/Home/Index"><strong>HOME</strong></a>
            <a class="nav-link" id="nav-elements" href="/Project/Index"><strong>DECOUVRIR UN PROJET</strong></a>
            <a class="nav-link" id="nav-elements" href="/CreateProject/Index"><strong>LANCER UN PROJET</strong></a>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-center">
            <a id="bouton-log" href="/Account/LoginPage">SE CONNECTER</a>
        </div>
    }
}





<div class="my-5">
    <fieldset style="margin:auto">

        <div class="mode-vert">
            <h6 style="font-size: 30px; color:dimgray">Réinitialisation du mot de passe</h6>
            <br />
        </div>

        <div class=" shutter-content">
            <form class="ff" action method="post" accept-charset="utf-8"
                  data-dashlane-rid="174bd12e75b2083c" data-form-type="forgot password"></form>

            <p class=" info-text">
                Vous avez oublié votre mot de passe ?
                Saisissez votre adresse e-mail et nous vous
                enverrons un email pour le réinitialiser.
            </p>

            <div class="form-group">
                <input type="text"
                       name="email"
                       placeholder="Adresse e-mail"
                       data-form-type="email">
                <label for="email">
                    <i class="icon icon-envelope">
                    </i>
                </label>
            </div>
        </div>
        <br />
        <input type="submit" name="submit" value="Réinitialiser mon mot de passe"
               class="submit" data-dashlane-rid="e167a7584ca20eac"
               data-form-type="action,forgot_password" />

    </fieldset>
</div>


@section Footer {}
