<<<<<<< HEAD:Projet2Crowdfunding/Views/User/InscriptionChoice.cshtml
<html>
    <head>

    <meta name="viewport" content="width=device-width" />
    <title>Choisir son inscription</title>

        <style>
        fieldset {
            background-color: beige;
            width: 800px;
            border: 15px solid seagreen;
            padding: 50px;
            margin: 20px;
            text-align: justify;
        }
        </style>
    </head>
    <body>
        <fieldset>
            <div align="center">
                <h1>S'inscrire</h1>
                <label for="PP">Voulez-vous vous inscrire pour  </label>
                <br />
                <br />
                <label for="participant">Participer à un projet </label>
                <input type="radio" name="choice" value="Unspecified" />

                <label for="pp">Soumettre un projet </label>
                <input type="radio" name="choice" value="Unspecified" />
                <br />
                <br />
                <input type="submit" value="Envoyer" />



            </div>
        </fieldset>
    </body>
</html>
=======
<html>
    <head>

    <meta name="viewport" content="width=device-width" />
    <title>Choisir son inscription</title>

        <style>
        fieldset {
            background-color: beige;
            width: 800px;
            border: 15px solid seagreen;
            padding: 50px;
            margin: 20px;
            text-align: justify;
        }
        </style>
    </head>
    <body>
        <fieldset>
            <div align="center">
                <h1>S'inscrire</h1>
                <label for="PP">Voulez-vous vous inscrire pour  </label>
                <br />
                <br />
                <label for="participant">Participer à un projet </label>
                <input type="radio" name="choice" value="Unspecified" />

                <label for="pp">Soumettre un projet </label>
                <input type="radio" name="choice" value="Unspecified" />
                <br />
                <br />
                <input type="submit" value="Envoyer" />

            </div>
        </fieldset>
    </body>
</html>
>>>>>>> 937dd1268785a43b4f693bc9ab2e935fde7ea599:Projet2Crowdfunding/Views/Account/InscriptionChoice.cshtml
