@{
    Layout = "_LayoutDuSite2";

}
<link rel="stylesheet" type="text/css" href="~/css/Login.css">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>S'inscription participant</title>

</head>
<body>
    <fieldset>

        <label for="Vous avez déja un compte MACSynergie?">Vous avez déja un compte Macsynergy?</label>
        <a href="LoginPage.html" class="btn btn-success">Connectez-vous!</a>
        <br />
        <br />

        <div>
           
            <input
                   type="text"
                   id="nom"
                   placeholder="Nom">
            <br />
            <br />
            <input type="text"
                   id="prenom"
                   placeholder="Prénom">
            <br />
            <br />
            
            <input type="text"
                   id="mail"
                   placeholder="Adresse e-mail">
            <br>
            <br>
            
            <input type="text"
                   id="Password"
                   placeholder="Mot de passe">
            <br />
            <br />
            <input class="form-check-input" type="checkbox" id="check2" name="Confidentialite" value="something">
            <label class="form-check-label">J'ai lu et j'accepte la politique de confidentialité de Macsynergy</label>
            <br />
            <br />

            <input type="submit" value="S'inscrire" />
        </div>
    </fieldset>
</body>
</html>