<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>S'inscription participant</title>

        <style>
        fieldset {
            background-color: beige;
            width: 800px;
            border: 15px solid seagreen;
            padding: 50px;
            margin: 20px;
            text-align: justify;
        }
        </style>
    </head>
    <body>
        <fieldset>

            <label for="Vous avez déja un compte MACSynergie?">Vous avez déja un compte Macsynergy?</label>
            <a href="autentification.html" class="btn btn-success">Connectez-vous!</a>
            <br />
            <br />

            <div>
                <label for="nom">Nom </label>
                <br />
                <input type="text" id="nom">
                <br />
                <br />
                <label for="prenom">Prenom </label>
                <br />
                <input type="text" id="prenom">
                <br />
                <br />
                <label for="Email">Adresse e-mail </label>
                <br />
                <input type="text" id="Email">
                <br>
                <br>
                <label for="Mot de passe">Mot de passe </label>
                <br />
                <input type="text" id="Mot de passe">
                <br />
                <br />
                <input class="form-check-input" type="checkbox" id="check2" name="Confidentialite" value="something">
                <label class="form-check-label">J'ai lu et j'accepte la politique de confidentialité de Macsynergy</label>
                <br />
                <br />

                <input type="submit" value="S'inscrire" />
            </div>
        </fieldset>
</body>
</html>