<!DOCTYPE html>

<html>
<head>
    <!--<title>MACSynergy</title>-->
    <!--META-->
    <meta charset="utf-8" name="viewport" content="width=device-width initial-scale=1.0" />

    <!--FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700'
          rel='stylesheet' type='text/css'>

    <!--CSS & Bootstrap 5.1.3-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">


</head>
<body>

    <div id="header">

        <nav>
            <div class="container-fluid" id="nav-color">
                <div class="row p-3">
                    <div class="col-md-2 d-flex justify-content-center">
                        <a href="/Home/Index"><img src="~/Images/logoMacSynergy.png" alt="MacSynergy" /></a>
                    </div>
                    <!--<div class="col-md-8 d-flex justify-content-around">
                        <a class="nav-link" id="nav-active" href="/Home/Index" active><strong>HOME</strong></a>
                        <a class="nav-link" id="nav-elements" href="/Project/ProjectPage"><strong>DECOUVRIR UN PROJET</strong></a>
                        <a class="nav-link" id="nav-elements" href="#"><strong>LANCER UN PROJET</strong></a>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end align-items-center">
                        <a id="bouton-log" href="/Account/LoginPage">SE CONNECTER</a>
                    </div>-->
                </div>
            </div>
        </nav>

    </div>


    @*<div id="contenu">*@
    @RenderBody()
    @*</div>*@

    <!--<div class="newsletter-subscribe container">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center newsletter">Inscrivez-vous à notre newsletter</h2>
                    <p class="text-center">Recevez de nouveaux projets dans votre boite chaque semaine !</p>
                </div>
                <form class="row" method="post">
                    <div class="col-md-6"><input class="form-control" type="email" name="email" placeholder="Votre Email"></div>
                    <div class="col-md-2"><button class="btn btn-primary" type="button">S'abonner </button></div>
                </form>
            </div>
        </div>

        <div id="footer" class="text-center text-dark p-3">
            <a href="#" class="fa fa-facebook" style="margin-right: 10px"></a>
            <a href="#" class="fa fa-twitter" style="margin-right: 10px"></a>
            <a href="#" class="fa fa-instagram" style="margin-right: 10px"></a>
            <a href="#" class="fa fa-youtube" style="margin-right: 10px"></a>
            <a href="#" class="fa fa-linkedin" style="margin-right: 10px"></a>
        </div>-->
                    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2022 Copyright: MACSynergy
                    </div>

</body>
    </html>
