@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Accueil";
}
<link rel="stylesheet" href="~/css/dashbord.css">

<div class="dashboard-container">
    <div class="row">


        <div class="col-sm-3">

            <div class="main-side-navigation ">

                <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white border-MACS">
                    <div class="position-sticky">
                        <div class="list-group list-group-flush mx-3 mt-4">
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple aria-current">
                                <i class="fa fa-tachometer fa-fw me-3"></i><span>Dashboard</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                                <i class="fa fa-info fa-fw me-3"></i><span>Informations</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                                <i class="fa fa-envelope-o fa-fw me-3"></i><span>E-mail</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                                <i class="fa fa-phone fa-fw me-3"></i><span>Téléphone</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                                <i class="fa fa-address-card-o fa-fw me-3"></i><span>Adresse</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                                <i class="fa fa-heart-o fa-fw me-3"></i><span>Coups de coeurs</span>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                                <i class="fa fa-money fa-fw me-3"></i><span>Paiements</span>
                            </a>
                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="col-sm-9">


            <div class="main-content">

                <div class="row-content border-MACS">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6"><a>Nom</a></div>
                            <div class="col-md-6"><a>Prénom</a></div>
                        </div>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div class="col-md-12">
                        <a>Email</a>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div class="col-md-12">
                        <a>Téléphone</a>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div class="col-md-12">
                        <a>Adresse</a>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div class="col-md-12">
                        <a>Coups de coeurs</a>
                    </div>

                </div>

                <div class="row-content border-MACS">
                    <div class="col-md-12">
                        <a>Paiements</a>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>
